<a href="https://colab.research.google.com/github/HaranJeon/python_programming/blob/main/10%EC%A3%BC%EC%B0%A8_%EC%84%9D%EC%82%AC%EA%B3%BC%EC%A0%95_%EC%A0%84%ED%95%98%EB%9E%80(2023135097).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10주차 석사과정 전하란(2023135097)

계산 더하기 기능

In [1]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))
print(adder(4))

3
7

In [2]:
print(adder(4))

11

In [10]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))
print(adder(4))
print(adder(5))

3
7
12

만약 계산기가 두 개 필요하다면?

In [11]:
result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2+= num
    return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

계산기가 여러 개가 필요하다면?

In [12]:
class Calulator:
    def __init__(self):
        self.result = 0

    def adder(self, num):
        self.result += num
        return self.result

cal1 = Calulator()
cal2 = Calulator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

클래스 변수

In [13]:
class Service:
    secret = '지구는 4006년에 멸망한다.'

an = Service()

an.secret

'지구는 4006년에 멸망한다.'

클래스 변수 공유

In [15]:
Service.secret

'지구가 4006년에 멸망한다는 사실은 뻥이다.'

In [16]:
Service.secret = '지구가 4006년에 멸망한다는 사실은 뻥이다.'
print(an.secret)

지구가 4006년에 멸망한다는 사실은 뻥이다.

클래스 내부의 함수(매서드: method)

In [17]:
class Service:
    secret = '지구는 4006년에 멸망한다.'
    def sum(self, a, b):
        result = a+b
        print("%s + %s = %s이다."%(a,b,result))

an = Service()

an.sum(1,1)

1 + 1 = 2이다.

객체 변수
service 클래스 업그레이드

In [18]:
class Service:
    secret = '지구는 4006년에 멸망한다.'
    def setname(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s이다."%(self.name, a,b,result))

an = Service()
an.setname("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2이다.

클래스 변수와 객체 변수

In [19]:
kim = Service()
park = Service()

kim.name = "김정보"
park.name = "박융합"

print(kim.name)

print(park.name)

김정보
박융합

In [20]:
kim.secret = "비밀은 없다"
print(park.secret)

지구는 4006년에 멸망한다.

In [21]:
print(kim.secret)

비밀은 없다

In [22]:
Service.secret

'지구는 4006년에 멸망한다.'

setname 을 호출하지 않은 경우

In [23]:
lee = Service()
lee.sum(1,1)

AttributeError: ignored

In [24]:
class Service:
    secret = '지구는 4006년에 멸망한다.'
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s이다."%(self.name, a,b,result))

an = Service("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2이다.

사칙연산 클래스

In [25]:
class FourCal:
    pass

a = FourCal()
type(a)

__main__.FourCal

사칙연산 클래스 - 데이터 세팅

In [32]:
class FourCal:
    def setadta(self, first, second):
        self.first = first
        self.second = second

a = FourCal()
a.setadta(4,2)

print(a.first)

4

In [33]:
class FourCal:
    def setadta(self, first, second):
        self.first = first
        self.second = second

a = FourCal()
a.setadta(4,2)

print(a.second)

2

사칙연산 클래스 - 더하기

In [34]:
class FourCal:
    def setadta(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result

a = FourCal()
a.setadta(4,2)

print(a.sum())

6

사칙연산 클래스

In [37]:
class FourCal:
    def setadta(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

a = FourCal()
b = FourCal()

a.setadta(4,2)
b.setadta(3,7)

print(a.sum())
print(a.mul())
print(a.sub())
print(a.div())
print(b.sub())

6
8
2
2.0
-4

간단한 주사위 게임 - 순차적 프로그래밍

In [38]:
import random

player1_dice = []
player2_dice = []

for i in range(3):
    player1_dice.append(random.randint(1,6))
    player2_dice.append(random.randint(1,6))


print("Player 1 rollde" + str(player1_dice))
print("Player 2 rollde" + str(player2_dice))

if sum(player1_dice) == sum(player2_dice):
    print("Draw")
elif sum(player1_dice) > sum(player2_dice):
    print("Player 1 wins")
else:
    print("Player 2 wins")

Player 1 rollde[5, 3, 6]
Player 2 rollde[2, 2, 4]
Player 1 wins